.login-container .username, .login-container .password {
  border: none;
  height: 30px;
  width: 200px;
  font-size: 18px;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px; }

.login-container {
  height: 350px;
  width: 300px;
  margin: 0px auto;
  background: red;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  padding-right: 15px;
  align-items: center; }
  .login-container .username {
    margin-top: 50px; }
  .login-container .password {
    margin-top: 20px; }
  .login-container .lg-btn {
    width: 200px;
    height: 30px;
    margin-top: 20px;
    background: #fff;
    border: none;
    border-radius: 5px;
    font-weight: bold; }
